/* reseT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* generale */
.clearfix::after  {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

.nav-1 ul a, .nav-2 ul a, {
  padding: 10px;
}

.cta a {
  padding: 30px;
}

.bottone-piccolo {
  border-radius: 10px;
  padding: 10px;
}

.verde {
  background-color: #7CBB02;
}

.neutro {
  border: 1px solid #fff;
}

.bottone-grande {
  padding: 20px;
  border-radius: 5px;
}

.img-left img,
.img-middle img,
.img-right img,
.left-row-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* /generale */


/* contenitore */
.contenitore {
  width: 70%;
  margin: auto;
}
/* /contenitore */


/* intestazione */
header {
  background-color: #0C325A;
  height: 600px;
  padding-top: 20px;
  color: white;
  background-image: url("../img/background-header.png");
  background-size: 55%;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.contenitore.intestazione {
  height: 600px;
  position: relative;
}


/* sezione top header */
.logo img {
  height: 40px;
}

.logo {
  width: 10%;
}

.nav-1, .nav-2, .logo {
  display: inline-block;
  vertical-align: middle;
}

.nav-1 ul li, .nav-2 ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.h-top {
  position: relative;
}
.nav-2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* /sezione top header */

/* sezione hero */
.h-testo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40%;
}

.h-testo h1 {
  font-size: 50px;
}

.h-testo .cta {
  margin-top: 50px;
}
/* /sezione hero */
/* /intestazione */


/* main */
/* top-main */
.top-main {
  background-color: #D3D3D3;
  height: 200px;
  text-align: center;
  position: relative;
}

h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

h4 {
  font-weight: 300;
  font-size: 25px;
  color: #8C8C8C;
}

.top-main-testo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /top-main */

/* section row del main */
.c-left, .c-middle, .c-right {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  padding: 0 35px;
}

.img-left, .img-middle, .img-right {
  height: 250px;
  padding-top: 65px;
}

.filetto-row hr {
  display: inline-block;
  width: 20%;
  text-align: center;
  margin: 20px 0;
  border-color: #D3D3D3;
}

.clearfix.row h3{
  color: #7CBB02;
  margin-top: 20px;
}

.contenitore.main-1 p{
  color: #8C8C8C;
}
/* /section row del main */

/* divisore */
.divisore {
  margin: 50px 0;
}
/* /divisore */


/* section row-2 del main */
.left-row-2, .right-row-2 {
  float: left;
  width: calc(50% - 160px);
  margin: 40px;
}

.right-row-2 {
  padding-left: 80px;
}

h2 {
  font-size: 38px;
}

.right-row-2 h2 {
  margin-bottom: 20px;
}

.right-row-2 p {
  margin: 20px 0;
}

.right-row-2 a {
  text-decoration: underline;
  text-transform: none;
  color: #0000FF;
  font-size: 14px;
}




/* /section row-2 del main */




/* /main */
